@import '../abstacts/variables';
@import '../base/typography';

.btn {
    background: $color-green;
    color: #fff;
    padding: $spacing-small $spacing-medium;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
    &:hover {
      background: darken($color-green, 10%);
    }
  }